* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

nav {
    display: contents;
}

.contenedor__imagen {
    max-width: 80%;
}

.boton__verMas {
    margin: auto;
    /* text-align: center; */
    display: block;
}

#cart__total {
    font-size: .7rem;
    position: absolute;
    top: 2px;
    right: 6px;
    background-color: #eb0028;
    padding: .2rem .4rem;
    border-radius: 100%;
    color: #f1f1f1;
}