* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu__logo {
    display: flex;
    align-items: flex-end;
}

h1 {
    font-size: 22px;
}

.menu__bold {
    background: #35807b;
    padding: 6px;
    border-radius: 2px;
}

.menu__bold:hover {
    transition: all 0.5s;
    background: #296d68;
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

nav {
    display: contents;
}

.contenedor__imagen {
    max-width: 80%;
}

.boton__verMas {
    margin: auto;
    /* text-align: center; */
    display: block;
}


/***************MENU***********************/

.navbar-collapse {
    align-items: center;
    justify-content: center;
}


/**************************************/

.table td,
.table th {
    padding: 12px 50px !important;
}

#cart__total {
    font-size: 1rem;
    position: absolute;
    top: 2px;
    right: 6px;
    background-color: #eb0028;
    padding: .2rem .4rem;
    border-radius: 100%;
    color: #f1f1f1;
    position: initial;
}

.table td,
.table th {
    padding: 12px 60px;
    vertical-align: middle;
}


/**cart*/

.container-fluid {
    position: relative;
}

.cart {
    position: absolute;
    min-height: 12rem;
    background-color: #f1f1f1;
    top: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    width: 0;
    overflow: hidden;
    margin-top: 67px;
}

.show__cart {
    width: 50rem;
    padding: 0.5rem;
    margin-right: 5px;
    z-index: 1;
    /* transform: rotateY(-360deg); */
}

.checkout__boton {
    text-decoration: none;
    color: #fff;
    text-transform: none;
    text-underline-offset: none;
}

.hero__carousel img {
    background-size: cover;
    background-size: center cover;
}


/*/////////////////////////////////////*/

.banner {
    /* position: relative; */
    width: 100%;
    height: calc(90vh - 50px);
    background-color: #F5f5f5;
    background-size: cover;
    background-position: center;
    transition: all 0.1s ease-in-out;
    background-image: url("../img/este1.png");
    animation: banner 10s infinite;
}

.banner .banner__content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    /* background-color: rgba(0, 22, 40, 0.6); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .banner__content h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

.banner .banner__content a {
    text-decoration: none;
    color: #fff;
    padding: 9px 20px;
    border: 1px solid #fff;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.banner .banner__content a:hover {
    background-color: #fff;
    color: #333;
}

@keyframes banner {
    0% {
        background-image: url(../img/este1.png);
    }
    33% {
        background-image: url(../img/este1.png);
    }
    /*********** PIMER FOTO ******************
          ************ SEGUNDA FOTO ****************/
    34% {
        background-image: url(../img/este2.png);
    }
    66% {
        background-image: url(../img/este2.png);
    }
    /*********** SEGUNDA FOTO ******************
          ************ TERCERA FOTO ****************/
    67% {
        background-image: url(../img/este3.png);
    }
    100% {
        background-image: url(../img/este3.png);
    }
}


/********************Dark mode **************************/

:root {
    --light: #ffffff;
    --dark: #26282c;
}

html[data-theme="light"] {
    --light: #26282c;
    --dark: #ffffff;
}

html,
body {
    background-color: var(--dark);
    color: var(--light);
}

.light {
    color: var(--light);
}

.dark {
    color: var(--dark);
}

.light_bg {
    background: var(--light);
}

.dark_bg {
    background: var(--dark);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
    margin-right: 20px;
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.flip {
    transform: rotate(360deg) !important;
}


/************************BANNER ICON**********************************/

.banner__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #35807b1f;
    border-radius: 50px;
    padding-top: 10px;
}

.banner__icon i {
    text-align: center;
}

.banner__icon i p {
    font-size: 1rem;
    margin-top: 10px;
}


/***************FORMULARIO**************/

h2 {
    text-align: left;
}

* {
    box-sizing: border-box;
}

.error {
    color: red;
    border-color: red;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col-25 {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

footer {
    background-color: #343a40;
    border: 1px solid lightgrey;
}

.container {
    padding: 3px 18px 13px 18px;
    /* border-radius: 3px; */
    /* box-shadow: 0 0 2rem 0 rgba(168, 180, 194, 0.37); */
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid rgb(130, 26, 26);
    border-radius: 1px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #01BAEF;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    box-shadow: 0 0 1rem 0 rgba(99, 123, 150, 0.329);
}

.btn:hover {
    background-color: #1f95a5;
}

a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}


/********FOOTER ***********/

.footer {
    background-color: #343a40;
    /* background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("http://andreeabunget.co.uk/Img/footer.jpg");
    background-size: cover; */
}

.first {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
}

.first li {
    list-style: none;
    padding-bottom: 10px;
}

.first a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

.first a:hover {
    color: #fff;
    transition: 0.2s;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
    text-decoration: none
}

.first h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

.first h4::after {
    content: '';
    background: #35807b;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.second {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second2 {
    margin-top: 20px;
    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

.second h4::after {
    content: '';
    background: #35807b;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 40%;
}

.second li {
    list-style: none;
    padding-bottom: 10px;
}

.second a,
.second2 a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

.second a:hover,
.second2 a:hover {
    color: #fff;
    transition: 0.2s;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
    text-decoration: none
}

.third {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}

.third h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

.third h4::after {
    content: '';
    background: #35807b;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 80%;
}

.third li {
    list-style: none;
    padding-bottom: 10px;
}

.third a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

.third a:hover {
    color: #fff;
    transition: 0.2s;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
}

@media screen and (max-width:1000px) {
    .first {
        text-align: center;
    }
    .first h4::after {
        left: 40%;
    }
}

@media screen and (max-width:1000px) {
    .third {
        text-align: center;
    }
    .third h4::after {
        left: 40% !important;
    }
}

.margin {
    margin-left: 20px;
}

.line {
    height: 2px;
    background-color: rgb(206, 206, 206);
    width: 100%;
}

.container h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}


/*************GAME**************/

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35807b;
    width: 50%;
    margin: auto;
}

.game a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.2s;
}

.game a:hover {
    color: #fff;
}